<%- include('header.ejs') %>
<section class="content">
    <h2>About</h2>
    <p>
        This is a online To-do List Dairy that has been created under the supervision of our leader "Ankush Pandey " and our great team of four members who are as follow:-
    </p>
    <p>
        "Ankush pandey " a.k.a. our first member known for his specialiaztion in frontent design.
    </p>
    <p>
        "Ankush pandey " a.k.a. our second member know for his specialization in the networking and routes handling.
    </p>
    <p>
        "Ankush pandey " a.k.a. our third member know for his enormous work in the backend logic development.
    </p>
    <p>
        "Ankush pandey " a.k.a. our third member know for his specialization in the database design with both sql and no sql techniques;
    </p>
</section>
<%- include('footer.ejs') %>