<footer>
    <div class="nav">
        <div class="logo">
            <h2><a href="/">To-Do Dairy</a></h2>
        </div>
        <div class="social">
            <h3>Social</h3>
            <ul>
                <li><a href=""><img src="\src\svg\facebook.svg" alt="" srcset=""><span>Facebook</span></a></li>
                <li><a href=""><img src="\src\svg\instagram.svg" alt="" srcset=""><span>Instagram</span></a></li>
                <li><a href=""><img src="\src\svg\linkedin.svg" alt="" srcset=""><span>Linkedin</span></a></li>
                <li><a href=""><img src="\src\svg\whatsapp-3.svg" alt="" srcset=""><span>Email</span></a></li>
            </ul>
        </div>
        <div class="navigation">
            <h3>Navigation</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mydiary/1">My Diary</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <h3>©️All Right Reserved</h3>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms and Conditions</a>
    </div>
</footer>
</body>
</html>