<%- include('header.ejs') %>
<section class="content">
    <h2>Home</h2>
    <p>
        Diaries are written or audiovisual records with discrete entries arranged by date reporting on what has happened over the course of a day or other period. They have traditionally been handwritten but are now also often digital. A personal diary may include a person’s experiences, thoughts, and/or feelings, excluding comments on current events outside the writer’s direct experience. Someone who keeps a diary is known as a diarist. Diaries undertaken for institutional purposes play a role in many aspects of human civilization, including government records (e.g. Hansard), business ledgers, and military records.
        </p>
<p>
The word “diary” comes from the Latin diarium (“daily allowance,” from dies, “day”). The word “journal” comes from the same root (diurnus, “of the day”) through the Old French jurnal (the modern French for ‘day’ being jour). The earliest recorded use of the word ‘diary’ to refer to a book in which a daily record was written was in Ben Jonson’s comedy Volpone in 1605.
</p>
<p>
    The oldest extant diaries come from Middle Eastern and East Asian cultures, although the even earlier work To Myself (Τὰ εἰς ἑαυτόν), today known as the Meditations, written in Greek by the Roman Emperor Marcus Aurelius in the second half of the 2nd century AD, already displays many characteristics of a diary. Pillowbooks of Japanese court ladies and Asian travel journals offer some aspects of this genre of writing, although they rarely consist exclusively of diurnal records. In the medieval Near East, Arabic diaries were written from before the 10th century.
    </p>
    
    <p>
        Samuel Pepys (1633–1703) is the earliest diarist who is well known today; his diaries, preserved in Magdalene College, Cambridge, were first transcribed and published in 1825. Pepys was amongst the first who took the diary beyond mere business transaction notation, into the realm of the personal.
        </p>
<p>
Diaries have been of immense importance for recording social and political history. They offer an insight into people’s lives and thoughts that would otherwise be lost to history. They have been used to record everything from daily life to major historical events2. During World War II, Anne Frank kept a diary while hiding from Nazi persecution in Amsterdam1. Her diary has become one of the most famous books in history and has been translated into more than 70 languages.
</p>
</section>
<%- include('footer.ejs') %>