<%- include('header.ejs') %>
<section class="content">
    <h2>Privacy Policy</h2>
    <p>At our company, we take your privacy very seriously. We are committed to protecting your personal information and ensuring that it is used only for the purposes for which it was collected. Here are some of the key points of our privacy policy:</p>

<ul> <li>We collect only the minimum amount of personal information necessary to provide our services.</li> <li>We do not share your personal information with third parties unless required by law or necessary to provide our services.</li> <li>We use industry-standard security measures to protect your personal information from unauthorized access, disclosure, or misuse.</li> <li>We may use cookies or other tracking technologies to improve your experience on our website and to personalize content and advertising.</li> <li>We may collect non-personal information about your use of our website or services, such as your IP address, browser type, and operating system.</li> <li>We may use your personal information to contact you about our products or services, but you can opt out of these communications at any time.</li> <li>You have the right to access, correct, or delete your personal information at any time.</li> </ul>

<p>If you have any questions or concerns about our privacy policy, please contact us at [contact@ourcompany.com].</p>
</section>
<%- include('footer.ejs') %>